{% extends "base.html" %}
{% block headmetadata %}
{% if settings.twitter_username %}
  {% if media %}
    {% set media_title = media.title if media.title else media.filename %}
    <title>{{ media_title }}</title>
    {% set media_author = media.meta['author'][0] if media.meta['author'] else settings.twitter_username %}  
    {% if media.type == "image" %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ settings.twitter_username }}">
    <meta name="twitter:creator" content="{{ media_author }}">
    <meta name="og:url" content="{{ settings.absolute_url }}/{{ media.path }}/{{ media.filename }}.html">
    <meta name="og:title" content="{{ media_title }}">
    {% if media.meta['description'] %}
    <meta name="og:description" content="{{ media.meta['description'][0] }}">    
    <meta name="description" content="{{ media.meta['description'][0]  }}">
    {% elif album.summary %}
    <meta name="og:description" content="{{ album.summary }}"> 
    <meta name="description" content="{{ album.summary }}">
    {% else %}
    <meta name="og:description" content="Photo '{{ media_title }}' from {{ album.title }} presented by {{ settings.author }}">
    <meta name="description" content="Photo '{{ media_title }}' from {{ album.title }} presented by {{ settings.author }}">
    {% endif %}
    <meta name="og:image" content="{{ settings.absolute_url }}/{{ media.path }}/{{ media.filename }}">
    {% endif %}
    {% if media.type == "video" %}
      <meta name="og:type" content="video.other">
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}
{% block content %}
  {% set media_title = media.title if media.title else media.filename %}
  <header>
    {% if album.breadcrumb %}
    <h2>
      {% for url, title in album.breadcrumb %}
      <a href="{{ url }}">{{ title }}</a> »
      {% endfor -%}
      <a href="#">{{ media_title }}</a>
    </h2>
    <hr>
    {% endif %}
  </header>

  {% if media %}
      <div class="twelve columns thumbnail">
      {% if media.type == "image" %}
        <img src="{{ media.filename }}" alt="{{ media_title }}" title="{{ media_title }}" />
      {% endif %}
      {% if media.type == "video" %}
        <video controls>
          <source src='{{ media.filename }}' type='video/webm' />
        </video>
      {% endif %}
      </div>
  {% endif %}

  <div class="two columns offset-by-four">
    {% if previous_media %}
    <a href="{{ previous_media.filename }}.html">« previous</a>
    {% else %}
    &nbsp;
    {% endif %}
  </div>

  <div class="two columns">
    {% if next_media %}
    <a href="{{ next_media.filename }}.html">next »</a>
    {% endif %}
  </div>
{% endblock %}
